.form {
    display: block;
    margin-top: 30px;

    & > * {
        margin-bottom: 20px;
    }
}

.user_info_card{
    display: flex;
    justify-content: space-between; 
    padding: 10px;
    .user_info {
        display: flex;
        flex-direction: column;
        gap:30px;
    }
    .user_modify{
        display: flex;
        flex-direction: column;
        gap:10px;
    }
}
