$content_pad_top: 60px;
$nav_height: 54px;
$form_height: 58px;
$width: 520px;

.root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
    .root_box {
        position: relative;
        width: $width;
        height: 100%;

        overflow-y: scroll;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.container {
    display: block;
    height: auto;
    width: 100%;
    height: 100%;
}

.fixed_top_bar {
    width: $width;
    display: block;
    position: fixed;
    top: 0;
    z-index: 999;
}

.fixed_btm_bar {
    width: $width;
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 999;
}


.star_list {
    display: flex;

    .star span {
        font-size: 16px;
    }
}

.star {
    display: block;

    &.active_star {
        display: block;

        span {
            color: #FFD700;
        }
    }
}

.file_container {
    display: block;
    width: 100%;
    
    .file_input_box {
        width: 100%;
        height: 100%;
        display: block;

        input {
            display: none;
        }

        label {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    }

    .preview_img_box {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;

        .preview_img_close_btn {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 99;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.section {
    padding: 60px 0;
    min-height: 100%;
}

.inner {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 12px;
}

.text_box { 
    max-width: 100%;
    p {
        max-width: 100%;
        display: inline-block;
        text-wrap: balance;
        word-wrap: break-word;
    }
}