.review_info_list {
    display: block;

}

.review_card_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
}

.review_card {
    display: block;
    cursor: pointer;
    .review_image {
        display: block;
        width: 100%;
        height: 160px;
        overflow: hidden;

        .review_skeleton {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

}

.review_info {
    display: block;
}

.form {
    .star_list {
        margin-top: 20px;
        margin-bottom: 30px;

        .star_list_inner {
            margin: 0 auto;
            width: 130px;
            display: flex;
            justify-content: space-between;
        }
    }

    .review_input_box {
        display: block;
        margin-bottom: 20px;

        h1 {
            margin-bottom: 10px;
        }
    }
}

.review_item {
    display: block;

    .review_inner {
        display: block;
        
        .review_header {
            .top_item {
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                .writer_item {
                    display: flex;
                }
            }
    
            .btm_item {
                display: flex;
                align-items: center;
                margin-top: 5px;
    
                p[data-slot="text_medium"] {
                    margin-left: 20px;
                }
            }
    
            margin-bottom: 10px;
        }
    
        .review_content {
            display: block;

            .text_content {
                display: block;
                h1 {
                    margin-bottom: 2px;
                }
            }

            .img_content {
                margin-top: 10px;
                display: block;

                img {
                    max-width: 270px;
                    max-height: 270px;
                }
            }
        }
    }

}