.text-xlarge {
    font-size: 20px;
}

.text-xsmall {
    font-size: 12px;
}

.text-logo {
    font-size: 24px;
}

.icon-lg {
    font-size: 26px;
}

.icon-md {
    font-size: 20px;
}

.icon-sm {
    font-size: 18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}